<%= flash[:notice] %>

<table>
<tr>
<td><h2>Title:</h2></td>
<td><p><%= @book.title %></p></td>
</tr>

<tr>
<td><h2>Body:</h2></td>
<td><p><%= @book.body %></p></td>
</tr>
</table>

<table>
  <tr>
    <td><%= link_to "edit", edit_book_path(@book.id) %></td>
    <td>|</td>
    <td><p><a href="/books">Back</a></p></td>
  </tr>
</table>
